PORT=3000
SANDBOX_DIR=C:\Users\107734\AppData\Local\Temp\legacy-modernizer
GITHUB_PERSONAL_ACCESS_TOKEN=
CURSOR_API_KEY=
DEFAULT_REPO_URL=https://github.com/CMOD-Lab/ResortsLite_ma.git
DEFAULT_BRANCH=main
